@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.6 !important;
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
}
